button {
	width: 135px;
	height: 35px;
	border-radius: 20px;
	background-image: -webkit-linear-gradient(left, blue, lightblue);
}

a {
	border: width: 200px;
	border: height: 60px;
	font-size: 20px;
	color: #FFF;
	list-style: none;
	text-decoration: none;
}


button:hover {
	cursor: pointer;
}
